.profile {
  background-color: white;
  border-radius: 6px;
  width: 100%;
  display: inline-block;
}

.profile-name {
  line-height: 18px;
  padding: 20px;
}

.profile-name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.profile-name .title {
  font-size: 13px;
  color: #777;
}
